.weatherContainer {
    border: solid 2px gray;
    border-radius: 1em;
    background-color: lightgray;
    margin: 1em;
    padding-top: 1em;
  }
  
  .weatherRow {
    margin: 0;
    padding: 0;
  }
  